*{
    margin: 1%;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
}
/*----------------- smartphone ---------------*/
@media (min-width: 320px) {

    html{
        font-size: 62.5%;
    }

    body {
        background-color: rgb(77, 59, 75);
        color: white;
        font-size: 1.8rem;
    }

    /* ******* H E A D E R ****** */

    header{
        display: flex;
        flex-direction: row-reverse;
    }

    h1{
        width: 70%;
        padding: 1% 1% 0 1%;
        margin-top: 1%; 
       font-size: 3.8rem; 
       font-family: 'Liu Jian Mao Cao', cursive;
       color: rgba(247, 236, 245, 0.938);
       text-shadow: 2px 2px 10px rgb(241, 215, 238);
    }

    /* hamburger menu */

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        background: rgb(26, 15, 25);
        z-index: -1;
    }

    #hamburger-menu{
        width: 50px;
        height: 50px;
        display: block;
        border: none;
        margin: 20px;
        background: linear-gradient(
            to bottom, 
            #e8d6f5, #e1cdee 20%, 
            rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 40%, 
            #e8d6f5 40%, #e1cdee 60%, 
            rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%, 
            #e8d6f5 80%, #e1cdee 100%
          );
        transition: 0.3s;
        box-sizing: border-box;
    }

    #hamburger-menu #sidebar-menu{
        visibility: hidden;
        position: fixed;
        top: 0;
        left: -250px;
        width: 200px;
        height: 100%;
        background-color: rgb(122, 89, 128);
        padding: 0px 10px;
    box-sizing: border-box;
    }

    #hamburger-input{
        display: none;
    }

    #hamburger-input:checked + #hamburger-menu #sidebar-menu{
        visibility: visible;
        left: 0;
    }

    #hamburger-input:checked ~ .overlay{
        visibility: visible;
        opacity: 0.4;
    }

    #sidebar-menu{
        width: 100%;
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
        z-index: 9; 
    }

    #sidebar-menu h3{
        font-size: 2.2rem;
        font-style: bold;
        text-shadow: rgba(27, 22, 27, 0.699) 2px 2px 6px;
    }

    #sidebar-menu a{
        font-size: 2rem;
        text-decoration: none;
        color: white;
        padding: 2% 1% 2.5% 0;
        margin: 1%;
        text-shadow: rgba(27, 22, 27, 0.699) 2px 2px 6px;
    }

    
    /* ******* E N D  H E A D E R ****** */
    
    /* -- welcome -- */

    .welcome{
        width: 90%;
        padding: 0 1% 0 5%;
        display: flex;
        flex-wrap: wrap;
    }

    .welcome h2{
        font-size: 2.5rem;
    }
   /* -- projects -- */
  
   .project-gifs{
       padding: 0 0% 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
   }

   .project-gifs img{
    height: 100%;
       width: 100%;
        object-fit: contain;     
        margin: 1%; 
    box-shadow: #000000 2px 2px 10px;
   }

   .img-wrap{
       position: relative;
   }

   .img-wrap img{
    width: 100%
   }

   .caption{
       font-size: 1.2rem;
       box-sizing: border-box;
       width: 100%;
       padding: 10px;
       position: absolute;
       bottom: 0;
       left: 0;
    }

    /* show/hide captions */
    .cap{
        visibility: none;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .wrap:hover .cap{
         visibility: visible;
         opacity: 1;
        }





    
}

@media  screen and (min-width:750px) {
    #sidebar-menu{
        display: inline;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        visibility: visible;
    }
    #hamburger-menu{
        display: none;
    }
}