*{
    margin: 1%;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
}

/*----------------- smartphone ---------------*/

@media (min-width: 320px) {

    html{
        font-size: 62.5%;
    }

    body {
        background-color: rgb(236, 236, 236);
        color: rgb(43, 46, 44);
        font-size: 1.2rem;
    }

    /* ******* H E A D E R ****** */

    header{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #header-background{
        display: flex;
        flex-wrap: wrap;
        width: 120%;
        height: 18vh;
        background-color: rgb(164, 203, 147);
        position: absolute;

    }

    .banner h1{
        width: 70%;
        padding-top: 5%;
        margin-top: 15%; 
       font-size: 3.8rem; 
       letter-spacing: 1.4;
       font-family: 'Liu Jian Mao Cao', cursive;
       color: rgb(248, 228, 186);
       text-shadow: 2px 2px 10px rgba(209, 149, 46, 0.781);
    }

    .banner img{
        width: 35%;
        position: absolute;
        top: -38%;
        left: 30%;
        margin-bottom: 20%;
    }

    /* hamburger menu */

    .navicon{
        /* background-color: rgb(176, 204, 182); */
        width: 30%;
        /* border-radius: 10px; */
    }

    #ham{
        margin-left: 23%;
        margin-top: 53%;
        position: relative;
        display: inline-block;
    width: 1.5em;
    height: .8em;
    margin-right: 0.3em;
    border-top: 0.2em solid rgb(2, 31, 28);
    border-bottom: 0.2em solid rgb(2, 31, 28);
}

.ham:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
}

    .toggle{
        display: none;
        position: absolute;
        margin: 25% 0 0 15%;
        padding: 2%;
    }

    .toggle-menu li{
        list-style: none;
    }
    .toggle-menu a{
        text-decoration: none;
        text-shadow: 2px 2px 4px rgb(103, 119, 103);
        color: rgba(235, 255, 226, 0.788);
        font-weight: 450;
        font-size: 2rem;
        line-height: 1.6;
    }
    
    /* ******* E N D  H E A D E R ****** */
    
    /* -- welcome -- */

    .welcome{
        width: 85%;
        padding: 2% 1% 0 5%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .welcome h2{
        font-size: 2rem;
        position: relative;
        margin-top: 25%;
        color: rgb(176, 204, 182);
    }

    .welcome p{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #selfie{
        margin-top: 5%;
        border-radius: 50%;
        object-fit: contain;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #spin{
        font-size: 1.4rem;
        font-weight: bold;
        bottom: 25px;
        color:rgb(252, 195, 72);
        text-shadow: rgba(80, 54, 14, 0.514) 2px 2px 22px;
        padding-bottom: 1%;
        position: absolute;
    }
    #spin:after{
        content:"";
        animation: spin 10s ease-in infinite;
    }

    @keyframes spin {
        0% {content: "web developer";}
        50% { content: "caffeine-addict";}
        100% {content: "artist";}
    }

    .welcome p{
        font-size: 1.35rem;
       margin-top: 10%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    /* -- summary -- */

    #summary{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 4%;
    }

    #summary h2{
        color:rgb(176, 204, 182)
    }

    #langs{
        height: 5%;
        padding-left: 4%;
        display: flex;
        align-self: flex-start;
        gap: 70px;
    }

    #langs p{
        font-size: 1.5rem;
    }

   /* -- projects -- */
  
   .projects{
       padding: 0 0% 0 1.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
   }

   .projects img{
    height: 100%;
    width: 100%;
    object-fit: contain;     
    margin: 1%; 
    filter: 
        grayscale(95%)
        brightness(98%);
   }

   .img-wrap{
       position: relative;
   }


   .caption{
        color:rgb(253, 207, 106);
       font-size: 2rem;
       text-shadow: black 2px 2px 12px;
       box-sizing: border-box;
       width: 100%;
       padding: 10px;
       position: absolute;
       bottom: 15px;
       left: 10px;
    }

    /* show/hide captions */
    .cap{
        visibility: none;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .wrap:hover .cap{
         visibility: visible;
         opacity: 1;
        }





    
}

@media  screen and (min-width:750px) {
    #sidebar-menu{
        display: inline;
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 0;
        visibility: visible;
    }
    #hamburger-menu{
        display: none;
    }
}