.about-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.text{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.selfie{
    display: flex;
    width: 40%;
    padding-left: 5%;
}

button{
    padding: 2%;
    border-radius: 5px;
    border: none;
    background: none;
}

.more-btn{
    display: flex;
}

.more-btn p{
    font-weight: 300;
}

