.about-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding-top: 10%;
}

.word{
    color: rgb(233, 166, 166);
    margin: auto;
    font: 700 normal 2.5rem;
    text-shadow: 5px 2px rgba(0, 0, 0, 0.774);
}

.text{
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1{
    font-size: 3.5rem;
}

p{
    font-size: 1.4rem;
}

.selfie{
    display: flex;
    height: 50vh;
    /* width: 35%; */
    padding-left: 5%;
}

button{
    font-size: 1.2rem;
    /* padding: 2%; */
    border-radius: 5px;
    border: none;
    background: none;
}

.more-btn{
    display: flex;
}

.more-btn p{
    font-weight: 300;
}

@keyframes typing{

    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "d"; }
    2.2791%, 25.0698% { content: "de"; }
    3.4186%, 23.9302% { content: "dev"; }
    4.5581%, 22.7907% { content: "deve"; }
    5.6977%, 21.6512% { content: "devel"; }
    6.8372%, 20.5116% { content: "develo"; }
    7.9767%, 19.3721% { content: "develop"; }
    9.1163%, 18.2326% { content: "develope"; }
    10.2558%, 17.0930% { content: "developer"; }

    30.7674%, 51.2791% { content: ""; }
    30.7674%, 51.2791% { content: "g"; }
    33.0465%, 49.0000% { content: "ga"; }
    34.1860%, 47.8605% { content: "gam"; }
    35.3256%, 46.7209% { content: "game"; }
    36.4651%, 45.5814% { content: "gamer"; }

    54.6977%, 75.2093% { content: ""; }
    55.8372%, 74.0698% { content: "c"; }
    56.9767%, 72.9302% { content: "co"; }
    58.1163%, 71.7907% { content: "coff"; }
    59.2558%, 70.6512% { content: "coffe"; }
    60.3953%, 69.5116% { content: "coffee"; }
    61.5349%, 68.3721% { content: "coffee "; }
    62.6279%, 68.8605% { content: "coffee l"; }
    63.7674%, 67.7209% { content: "coffee lo"; }
    64.9070%, 68.5814% { content: "coffee lov"; }
    65.0465%, 67.4419% { content: "coffee love"; }
    66.1860%, 66.8860% { content: "coffee lover"; }

}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.typewriter{
    /* display: flex; */
    margin-bottom: 1%;
    --caret: currentcolor;
    font-size: 2.5rem;
    color: rgb(233, 166, 166);
}

.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }

  
@media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      35% { content: "gamer"; }
      50% { content: "coffee lover"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }

  /* credit for tutorial
   https://codepen.io/alvaromontoro/pen/rNwVpdd */