header {
    position: fixed;
    left: 0;
    top: 0;
    width: 99%;
    padding: 1%;
    display: flex;
    align-items: baseline;
  }


  .logo-wrap{
    width: 15%;
  }

  .animate{
    text-transform: uppercase;
    background-image: linear-gradient(
      -223deg,
      #1F1D36 0%,
      #3F3351 29%,
      #864879 67%,
      #E9A6A6 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
      font-size: 60px;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  header nav{
    display: flex;
    justify-items: end;
    width: 45%;
    padding-left: 40%;
    padding-right: 8%;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  nav a:hover {
    background-position: right center;
  }
  
  
  #theme{
    position: relative;
    right: 80px;
    width: 38px;
    height: 30px;
    border: solid #3F3351 3px;
    border-radius: 25px;
    background-size: 200% auto;
    background-image: linear-gradient(
      to right, #E9A6A6 0%, #864879 51%, #E9A6A6 100%
      );
      box-shadow: rgba(25, 4, 26, 0.479) 7px;
  }
  
  header a{
    font-weight: bold;
    text-decoration: none;
    width: 10%;
    padding: 1.5%;
    background-color: #3F3351;
    border-radius: 25px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    background-image: linear-gradient(
      to right,#E9A6A6 0%, #864879 51%, #E9A6A6 100%
      );
      box-shadow: rgba(25, 4, 26, 0.479) 7px;
  }