h2{
    font-size: 1.8rem;
}

.project-wrap p{
    width: 75%;
    text-align: center;
}
.project-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project{
    width: 35%;
    border-radius: 10px;
    padding: 1.5%;
}